{% load static %}
<div class="requestForm js-requestForm">
  <div class="requestForm__overlay js-toggle-requestForm"></div>

  <div class="requestForm__content">
    <div class="requestForm__container">
      <div class="requestForm__close js-toggle-requestForm">
        <button>
          <i class="icon-cross"></i>
        </button>
      </div>

      <h3 class="requestForm__title"><span class="text-accent-1">Request</span><br> a visit</h3>

      <div class="requestForm__form contactForm row y-gap-30">
        <div class="col-12">
          <div class="contactForm__field">
            <div class="lh-12 fw-500 uppercase">Full name</div>
            <input type="text">
          </div>
        </div>
        <div class="col-12">
          <div class="contactForm__field">
            <div class="lh-12 fw-500 uppercase">phone</div>
            <input type="text">
          </div>
        </div>
        <div class="col-12">
          <div class="contactForm__field">
            <div class="lh-12 fw-500 uppercase">E-MAIL</div>
            <input type="text">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="contactForm__field">
            <div class="lh-12 fw-500 uppercase">DATE</div>
            <input type="text">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="contactForm__field">
            <div class="lh-12 fw-500 uppercase">TIME</div>
            <input type="text">
          </div>
        </div>

        <div class="col-12">
          <div class="contactForm__field">
            <div class="lh-12 fw-500 uppercase">YOUR MESSAGE</div>
            <textarea rows="3"></textarea>
          </div>
        </div>
        <div class="col-12">
          <button class="button -md -dark-1 bg-accent-1 text-white col-12">submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
