.iconCard.-type-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF33;

  .iconCard {
    &__content {
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: 1;
    }

    &__icon {
      font-size: 50px;
    }

    &__title {
      font-size: 20px;
      font-weight: 500;
      line-height: 36px;
      margin-top: 14px;
    }
  }
}
