.numberCard.-type-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .numberCard {
    &__number {
      font-size: 150px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 2.5px;
      text-align: center;
      color: #F7F0EC;

      @include media-below(lg) {
        font-size: 100px;
      }

      @include media-below(sm) {
        font-size: 90px;
      }
    }

    &__title {
      position: absolute;
      z-index: 1;
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
